{% extends 'canteen/main.html' %}
{% load static %}
{% block content %}
<!-- Order Confirmation Modal -->
<div class="modal fade" id="confirmOrderAlert" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="confirmOrderAlertLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmOrderAlertLabel">Confirm Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" id="confirmDiv" role="alert">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmOrderButton">Proceed</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="closeConfirmOrderAlert">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->

<div class="container block-content">
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form method="POST" id="form">
					{% csrf_token %}
					<fieldset class="form-group">
					  <legend class="border-bottom mb-4">Order Options</legend>
					  {% for field in order_form %}
					  {{ field.label }}:
					  {{ field }}
					  {% if field.help_text %}
					  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
					  {% endif %}
						{% endfor %}
						<br>
						{% for field in address_form %}
						<div class="fieldWrapper" id="addressField" hidden>
							{% if field.errors %}
							<div class="alert alert-warning" role="alert">
								{{ field.errors }}
							</div>
							{% endif %}
							{{ field.label }}:
							{{ field }}
							{% if field.help_text %}
							<small class="form-text text-muted">{{ field.help_text|safe }}</small>
							{% endif %}
						</div>
						{% endfor %}
						<br>
						{% for field in profile_form %}
						<div class="fieldWrapper" id="cellphoneField">
							{% if field.errors %}
							<div class="alert alert-warning" role="alert">
								{{ field.errors }}
							</div>
							{% endif %}
							{{ field.label }}:
							{{ field }}
							{% if field.help_text %}
							<small class="form-text text-muted">{{ field.help_text|safe }}</small>
							{% endif %}
						</div>
						{% endfor %}
					</fieldset>
					<hr>
					<!-- <input id="submitButton" class="btn btn-success btn-block" type="submit" value="Continue" hidden> -->
					<button type="button" id="submitButton" class="btn btn-success btn-block" hidden>
                    </button></li>
				  </form>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'canteen:cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script>
	var total_items = "{{order.get_cart_items}}"
	var form = document.getElementById('form')
	var total_cost = "{{order.get_cart_total|floatformat:2}}"

	 function previewFormData(){
		var orderData = {
			"total_items": total_items,
			"total_cost": total_cost,
			"payment_method": form.payment_method.value,
			"reference": form.reference.value,
			"delivery": form.delivery.checked,
			"delivery_address": form.address.value,
			"cellphone": form.cellphone.value,
			// "order_items": items,
		}

		var wallets = ["EFT", "EWALLET", "EASYWALLET", "BLUEWALLET"];
		if (wallets.includes(orderData["payment_method"]) && orderData["reference"]=="") {
			alert("A reference needs to be provided for this type of payment");
			return false;
		}
		else if (orderData["delivery"] == true && orderData["delivery_address"]=="") {
			alert("You've chosen delivery, but did not provide a delivery address. Please add an address or remove delivery from your order.");
			return false;
		}

		var div = document.getElementById("confirmDiv");
		div.innerHTML = ""
		var tag = document.createElement("h5");
		tag.innerHTML = "Confirm that the following details are correct:";
		div.appendChild(tag);

		tag = document.createElement("p");
		tag.innerHTML = `<b>Total Items:</b> ${orderData["total_items"]}`
		div.appendChild(tag);

		tag = document.createElement("p");
		tag.innerHTML = `<b>Total Cost:</b> N$${orderData["total_cost"]}`;
		div.appendChild(tag);

		tag = document.createElement("p");
		tag.innerHTML = `<b>Payment Method:</b> ${orderData["payment_method"]}`;
		div.appendChild(tag);

		var wallets = ["EFT", "EWALLET", "EASYWALLET", "BLUEWALLET"];
		if (wallets.includes(orderData["payment_method"])) {
			tag = document.createElement("p");
			tag.innerHTML = `<b>Payment Reference:</b> ${orderData["reference"]}`;
			div.appendChild(tag);
		};

		if (orderData["delivery"] == true) {
			tag = document.createElement("p");
			tag.innerHTML = `<b>To be delivered:</b> Yes`;
			div.appendChild(tag);

			tag = document.createElement("p");
			tag.innerHTML = `<b>Delivery Address:</b> ${orderData["delivery_address"]}`;
			div.appendChild(tag);
		} 
		else if (orderData["delivery"] == false) {
			tag = document.createElement("p");
			tag.innerHTML = `<b>To be delivered:</b> No`;
			div.appendChild(tag);
		}

		tag = document.createElement("p");
		tag.innerHTML = `<b>Cellphone Number:</b> ${orderData["cellphone"]}`;
		div.appendChild(tag);

		$('#confirmOrderAlert').modal("show");
	}
		
	function submitFormData(){
		var orderData = {
			"total_items": total_items,
			"total_cost": total_cost,
			"payment_method": form.payment_method.value,
			"reference": form.reference.value,
			"delivery": form.delivery.checked,
			"delivery_address": form.address.value,
			"cellphone": form.cellphone.value,
			// "order_items": items,
		}
		var url = "/canteen/process_order/"

		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'applicaiton/json',
				'X-CSRFToken':csrftoken,
			}, 
			body:JSON.stringify({'form':orderData}),
			
		})
		.then((response) => response.json())
		.then((data) => {
			// console.log('Success:', data);  
			window.location.href = "{% url 'canteen:cart' %}"
		})
		alert("Transaction complete! Your order is being sent for processing. Please check your email for confirmation. If no confirmation is received, please contact us.");
	}
</script>

<script>
	var deliveryOption = document.getElementById('delivery')
	var payment = document.getElementById('paymentMethod')
	var submittButton = document.getElementById('submitButton')

	function showAddress() {
		delivery = document.getElementById('delivery')
		var address = document.getElementById('addressField');
		if (delivery.checked == true) {
			address.hidden = false;
			address.required = true;
		}
		else {
			address.hidden = true;
			address.required = false;
		}
	}

	function updatePaymentMethod() {
		var paymentMethod = document.getElementById('paymentMethod');
		var reference = document.getElementById('reference');
		if (paymentMethod.value == "PAYPAL") {
			submittButton.innerHTML = "Checkout With PayPal";
			submittButton.hidden = false;
			reference.value = "";
			reference.disabled = true;
			reference.required = false;
		} 
		else if (paymentMethod.value == "CREDIT_OR_DEBIT CARD") {
			submittButton.innerHTML = "Checkout With Credit/Debit Card";
			submittButton.hidden = false;
			reference.value = "";
			reference.disabled = true;
			reference.required = false;
		} 
		else if (paymentMethod.value == "EFT") {
			submittButton.innerHTML = "Checkout With EFT";
			submittButton.hidden = false;
			reference.disabled = false;
			reference.required = true;
		} 
		else if (paymentMethod.value == "EWALLET") {
			submittButton.innerHTML = "Checkout With eWallet";
			submittButton.hidden = false;
			reference.disabled = false;
			reference.required = true;
		} 
		else if (paymentMethod.value == "EASYWALLET") {
			submittButton.innerHTML = "Checkout With EasyWallet";
			submittButton.hidden = false;
			reference.disabled = false;
			reference.required = true;
		} 
		else if (paymentMethod.value == "BLUEWALLET") {
			submittButton.innerHTML = "Checkout With BlueWallet";
			submittButton.hidden = false;
			reference.disabled = false;
			reference.required = true;
		} 
		else if (paymentMethod.value == "CASH") {
			submittButton.innerHTML = "Checkout With Cash";
			submittButton.hidden = false;
			reference.value = "";
			reference.disabled = true;
			reference.required = false;
		} 
		else {
			submittButton.hidden = true;
			reference.disabled = true;
			// reference.disabled = true
		}
	}
	
	deliveryOption.addEventListener('change', showAddress)
	payment.addEventListener('change', updatePaymentMethod)
	document.getElementById('submitButton').addEventListener('click', previewFormData)
</script>
<script>
    // Confirm Order
    var confirmOrderButton = document.getElementById("confirmOrderButton"); // Find the modal button element in the page
    confirmOrderButton.onclick = submitFormData;
</script>

{% endblock scripts %}
