{% extends 'canteen/main.html' %}
{% load static %}
{% block content %}
<!-- Order Confirmation Modal -->
<div class="modal fade" id="confirmOrderAlert" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="confirmOrderAlertLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmOrderAlertLabel">Confirm Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" id="confirmDiv" role="alert">
                    <h5>Confirm that the following details are correct:</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmOrderButton">Proceed</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="closeConfirmOrderAlert">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->

<div class="container block-content">
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form method="POST" id="form">
					{% csrf_token %}
					<fieldset class="form-group">
					  <legend class="border-bottom mb-4">Order Options</legend>
					  {% for field in order_form %}
					  {{ field.label }}:
					  {{ field }}
					  {% if field.help_text %}
					  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
					  {% endif %}
						{% endfor %}
						<br>
						{% for field in address_form %}
						<div class="fieldWrapper" id="addressField" hidden>
							{% if field.errors %}
							<div class="alert alert-warning" role="alert">
								{{ field.errors }}
							</div>
							{% endif %}
							{{ field.label }}:
							{{ field }}
							{% if field.help_text %}
							<small class="form-text text-muted">{{ field.help_text|safe }}</small>
							{% endif %}
						</div>
						{% endfor %}
					</fieldset>
					<hr>
					<!-- <input id="submitButton" class="btn btn-success btn-block" type="submit" value="Continue" hidden> -->
					<button type="button" id="submitButton" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#confirmOrderAlert" hidden>
                    </button></li>
				  </form>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'canteen:cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script>
	var total_items = "{{order.get_cart_items}}"
	var form = document.getElementById('form')
	var total_cost = "{{order.get_cart_total|floatformat:2}}"
	// var items = "{{items}}"
	// console.log("ITEMS: ", items)
	// items = items.map(function (item) {
	// 	return item.product.name;
	// });

	 function submitFormData(){
		var orderData = {
			"total_items": total_items,
			"total_cost": total_cost,
			"payment_method": form.payment_method.value,
			"reference": form.reference.value,
			"delivery": form.delivery.checked,
			"delivery_address": form.address.value,
			// "order_items": items,
		}
	    console.log('orderData:', orderData)
		var div = document.getElementById("confirmDiv");
		var tag = document.createElement("p");
		var text = document.createTextNode(`Total Items: ${orderData["total_items"]}`);
		tag.appendChild(text);
		div.appendChild(tag);

		tag = document.createElement("p");
		text = document.createTextNode(`Total Cost: N$${orderData["total_cost"]}`);
		tag.appendChild(text);
		div.appendChild(tag);

		tag = document.createElement("p");
		text = document.createTextNode(`Payment Method: ${orderData["payment_method"]}`);
		tag.appendChild(text);
		div.appendChild(tag);

		if (orderData["reference"] != "") {
			tag = document.createElement("p");
			text = document.createTextNode(`Payment Reference: ${orderData["reference"]}`);
			tag.appendChild(text);
			div.appendChild(tag);
		} 
		else if (orderData["delivery"] == true) {
			tag = document.createElement("p");
			text = document.createTextNode(`To be delivered: ${orderData["delivery"]}`);
			tag.appendChild(text);
			div.appendChild(tag);

			tag = document.createElement("p");
			text = document.createTextNode(`Delivery Address: ${orderData["delivery_address"]}`);
			tag.appendChild(text);
			div.appendChild(tag);
		} 
		

	    	// var url = "/canteen/process_order/"
	    	// fetch(url, {
	    	// 	method:'POST',
	    	// 	headers:{
	    	// 		'Content-Type':'applicaiton/json',
	    	// 		'X-CSRFToken':csrftoken,
	    	// 	}, 
	    	// 	body:JSON.stringify({'form':orderFormData, 'address':addressInfo}),
	    		
	    	// })
	    	// .then((response) => response.json())
	    	// .then((data) => {
			// 	  console.log('Success:', data);
			// 	  alert('Transaction completed');  
			// 	  window.location.href = "{% url 'home' %}"

			// 	})
	    }
</script>

<script>
	var deliveryOption = document.getElementById('delivery')
	var payment = document.getElementById('paymentMethod')
	var submittButton = document.getElementById('submitButton')

	function showAddress() {
		delivery = document.getElementById('delivery')
		var address = document.getElementById('addressField');
		if (delivery.checked == true) {
			address.hidden = false;
		}
		else {
			address.hidden = true;
		}
	}

	function paymentMethod() {
		var paymentMethod = document.getElementById('paymentMethod');
		var reference = document.getElementById('reference');
		if (paymentMethod.value == "PAYPAL") {
			submittButton.innerHTML = "Checkout With PayPal";
			submittButton.hidden = false;
			reference.disabled = true;
		} 
		else if (paymentMethod.value == "CREDIT_OR_DEBIT CARD") {
			submittButton.innerHTML = "Checkout With Credit/Debit Card";
			submittButton.hidden = false;
			reference.disabled = true;
		} 
		else if (paymentMethod.value == "EFT") {
			submittButton.innerHTML = "Checkout With EFT";
			submittButton.hidden = false;
			reference.disabled = false;
		} 
		else if (paymentMethod.value == "EWALLET") {
			submittButton.innerHTML = "Checkout With eWallet";
			submittButton.hidden = false;
			reference.disabled = false;
		} 
		else if (paymentMethod.value == "EASYWALLET") {
			submittButton.innerHTML = "Checkout With EasyWallet";
			submittButton.hidden = false;
			reference.disabled = false;
		} 
		else if (paymentMethod.value == "BLUEWALLET") {
			submittButton.innerHTML = "Checkout With BlueWallet";
			submittButton.hidden = false;
			reference.disabled = false;
		} 
		else if (paymentMethod.value == "CASH") {
			submittButton.innerHTML = "Checkout With Cash";
			submittButton.hidden = false;
			reference.disabled = true;
		} 
		else {
			submittButton.hidden = true;
			reference.disabled = true;
			// reference.disabled = true
		}
	}
	
	deliveryOption.addEventListener('change', showAddress)
	payment.addEventListener('change', paymentMethod)
	document.getElementById('submitButton').addEventListener('click', submitFormData)
</script>
<script>
    // Confirm Order
    var processOrderUrl = "{% url 'canteen:process_order' %}"

    function confirmOrder(event) {
        window.location.href = processOrderUrl;
    }

    var confirmOrderButton = document.getElementById("confirmOrderButton"); // Find the modal button element in the page
    confirmOrderButton.onclick = confirmOrder;
</script>

{% endblock scripts %}
