{% extends 'canteen/main.html' %}
{% block content %}
<div class="container block-content" style="background:white;">
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img mt-3 mb-3" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <!-- <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p> -->
    </div>
  </div>
</div>
<!-- FORM HERE -->
<form method="POST" enctype="multipart/form-data">
  <!-- enctype helps saving image data-->
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Profile Info</legend>
    {% for field in user_form %}
      <div class="fieldWrapper">
          {% if field.errors %}
          <div class="alert alert-warning" role="alert">
              {{ field.errors }}
          </div>
          {% endif %}
          {{ field.label }}
          {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
      </div>
      {% endfor %}
      {% for field in address_form %}
      <div class="fieldWrapper">
          {% if field.errors %}
          <div class="alert alert-warning" role="alert">
              {{ field.errors }}
          </div>
          {% endif %}
          {{ field.label }}
          {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
      </div>
      {% endfor %}
      {% for field in profile_form %}
      <div class="fieldWrapper">
          {% if field.errors %}
          <div class="alert alert-warning" role="alert">
              {{ field.errors }}
          </div>
          {% endif %}
          {{ field.label }}
          {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
      </div>
      {% endfor %}  
    <!-- {{ user_form }} User form
    {{ profile_form }} Profile form -->
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info mb-3" type="submit">Update</button>
  </div>
</form>
</div>
{% endblock %}
